@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: yellow;
}

 body {
    background-color: rgb(88, 88, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    height: 100vh;
    width: 96vw;
    position: relative;

 }
 
header { 
    color: white;
}

 h1 {
    padding: 20px 20px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
 }

 section {
   position: absolute;
   display: flex;
   flex-direction: row-reverse;
   background-color: white;
   border-radius: 10px;
   padding: 15px;
   width: 500px;
   height: 400px;
   margin: auto;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.293);
   top: 50%;
   left: 50%;

   transform:translate(-50%, -50%)
 }

#imagem {
   display: flex;
   justify-content: center;
} 
#foto{
   width: 280px;
   height: 300px;
   border-radius: 20%;
   margin-right: 50px;
   margin-top: 50px;
}

#resultado {
   display: flex;
   flex-direction: column-reverse;
   justify-content: left;
   width: 16em;
   gap: 15px;
}

 Footer {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-style: italic;
    bottom: 0;
    position: fixed;
    width: 100vw;
    padding: 10px;
    background-color: rgb(55, 29, 55);
    font-size: 1.3em;
    font-weight: bold;
   
 }